
SongBox {
    border: solid $secondary;
    padding: 0 0;
    margin: 1;
    width: 100%;
}

Vertical,
Horizontal {
    height: auto;
}

.song-btns {
    height: auto;
    align-horizontal: right;
}
.song-btns Button {
    border: none;
    align-horizontal: right;
}
